<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <%- include('./partials/head-includes.html'); %>

        <title>TRIADE | <%= title %></title>
        <link rel="stylesheet" href="/css/swiper-bundle.min.css">
        <link rel="stylesheet" href="/css/main.css">
    </head>
    <body>

        <%- include('./partials/header.html'); %>

        <main class="main-content" id="main-content">

            <section class="position-relative overflow-hidden bg-dark text-white jarallax" data-speed=".2">
                <!--Parallax-image-->
                <img src="/img/backgrounds/back-01.jpg" alt="" class="jarallax-img opacity-50">
                    <div class="container position-relative pt-12 pb-12">
                    <div class="row py-lg-7">
                    <div class="col-xl-10 mx-auto text-center">
                        <!--Hero title-->
                        <h1 class="display-1 mb-4">Soluções Para a Indústria</h1>
                        <!--Hero subtitle-->
                        <p class="lead mb-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo, accusantium.</p>
                        <!--Hero action-->
                        
                    </div>
                    </div>
                    <!--/.row-->
                    </div>
                <!--/.content-->
            </section>
   
            <section class="border-bottom overflow-hidden">
                <div class="container pt-9 pb-6 pb-lg-9">
                    <div class="row align-items-center">
                        <!--begin:section-title-->
                        <div class="col-md-4 col-lg-3 text-center text-md-start">
                            <h6 class="mb-5 mb-md-0 text-muted">Nossos Parceiros</h6>
                        </div>
                        <!--end:section-title-->

                        <div class="col-md-8 col-lg-9">
                            <!--Paertners List-->
                            <div class="d-flex flex-wrap justify-content-md-end justify-content-center">
                                <!--Partner-->
                                <div
                                    class="d-flex justify-content-center align-items-center px-4 py-3 width-13x h-auto">
                                    <img class="img-fluid" src="/img/partners/dark/nasdaq.svg" alt="">
                                </div>
                                <!--Partner-->
                                <div
                                    class="d-flex justify-content-center align-items-center px-4 py-3 width-13x h-auto">
                                    <img class="img-fluid" src="/img/partners/dark/zillow.svg" alt="">
                                </div>
                                <!--Partner-->
                                <div
                                    class="d-flex justify-content-center align-items-center px-4 py-3 width-13x h-auto">
                                    <img class="img-fluid" src="/img/partners/dark/slack.svg" alt="">
                                </div>
                                <!--Partner-->
                                <div
                                    class="d-flex justify-content-center align-items-center px-4 py-3 width-13x h-auto">
                                    <img class="img-fluid" src="/img/partners/dark/google.svg" alt="">
                                </div>
                                <!--Partner-->
                                <div
                                    class="d-flex justify-content-center align-items-center px-4 py-3 width-13x h-auto">
                                    <img class="img-fluid" src="/img/partners/dark/amazon.svg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            
            <section class="position-relative overflow-hidden">
                <div class="container py-9 py-lg-11 position-relative">
                    <div class="row justify-content-between">
                        <div class="col-lg-5 mb-7 mb-lg-0">
                            <h6 class="mb-3 text-muted">Sobre Nós</h6>
                            <h2 class="display-4 pe-lg-5 mb-5 mb-lg-8" data-aos="fade-left" data-aos-duration="400">
                                Nós levamos sua indústria ao próximo nível
                            </h2>
                            <div class="w-lg-75">
                                <nav class="nav nav-pills nav-indicator-dark flex-column" role="tablist" style="--bs-nav-pills-link-active-bg:#ba0001;--bs-nav-pills-link-active-color:var(--bs-primary)">
                                    <a href="#code" class="nav-link rounded-pill active px-5 fs-5 py-3 mb-1"
                                        data-bs-toggle="tab"><span>Missão</span></a>
                                    <a href="#strategy" class="nav-link rounded-pill fs-5 px-5 py-3 mb-1"
                                        data-bs-toggle="tab"><span>Visão</span></a>
                                    <a href="#design" class="nav-link rounded-pill fs-5 px-5 py-3"
                                        data-bs-toggle="tab"><span>Valores</span></a>
                                </nav>
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <div class="tab-content">
                                <div class="tab-pane active fade show" id="code">
                                    <div class="position-relative">
                                        <h3 class="mb-3">Missão</h3>
                                        <p class="mb-5">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                                            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
                                            non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                        </p>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="strategy">
                                    <div class="position-relative">
                                        <h3 class="mb-3">Visão</h3>
                                        <p class="mb-5">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                                            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
                                            non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                        </p>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="design">
                                    <div class="position-relative">
                                        <h3 class="mb-3">Valores</h3>
                                        <p class="mb-5">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                                            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
                                            non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                        </p>
                                        <ul class="list-unstyled mb-0">
                                            <li class="d-flex py-2 align-items-center">
                                                <div class="me-3">
                                                    <i class="bx bx-check fs-4 text-muted"></i>
                                                </div>
                                                <p class="mb-0">
                                                    Lorem, ipsum.
                                                </p>
                                            </li>
                                            <li class="d-flex py-2 align-items-center">
                                                <div class="me-3">
                                                    <i class="bx bx-check fs-4 text-muted"></i>
                                                </div>
                                                <p class="mb-0">
                                                    Lorem, ipsum dolor.
                                                </p>
                                            </li>
                                            <li class="d-flex py-2 align-items-center">
                                                <div class="me-3">
                                                    <i class="bx bx-check fs-4 text-muted"></i>
                                                </div>
                                                <p class="mb-0">
                                                    Lorem ipsum dolor sit.
                                                </p>
                                            </li>
                                            <li class="d-flex py-2 align-items-center">
                                                <div class="me-3">
                                                    <i class="bx bx-check fs-4 text-muted"></i>
                                                </div>
                                                <p class="mb-0">
                                                    Lorem, ipsum dolor.
                                                </p>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="overflow-hidden position-relative">
                <!--Background-->
                <div class="position-absolute start-0 top-0 w-100 h-100 bg-light"></div>
                <div class="container py-9 py-lg-11 position-relative z-index-1">

                    <div class="row mb-7 mb-lg-9">
                        <div class="col-12" data-aos="fade-left" data-aos-delay="100">
                            <h2 class="mb-0 display-4">Uma Breve História</h2>
                        </div>
                    </div>
                    <!--History swiper slider-->
                    <div class="swiper-history swiper-container overflow-visible">
                        <!--Slider wrapper-->
                        <div class="swiper-wrapper">
                            <!--Slide-->
                            <div class="swiper-slide">
                                <div>
                                    <div class="pe-5 pb-3 pe-lg-7">
                                        <!--Time-->
                                        <p class="text-muted">Atualmente</p>
                                        <!--Year-->
                                        <h2 class="text-primary display-5">2023</h2>
                                    </div>
                                    <!--Divider line-->
                                    <div class="swiper-divider-line bg-primary position-relative w-100 my-4"></div>
                                    <!--Text-->
                                    <div class="pe-7 pt-3 pe-lg-7">
                                        <h5>Whole new look with bootstrap5</h5>
                                        <p>Lorem ipsum is text commonly used in the graphic, print, and publishing
                                            industries for previewing layouts and visual mockups.</p>
                                    </div>
                                </div>
                            </div>
                            <!--Slide-->
                            <div class="swiper-slide">
                                <div>
                                    <div class="pe-5 pb-3 pe-lg-7">
                                        <!--Time-->
                                        <p class="text-muted">Maio</p>
                                        <!--Year-->
                                        <h2 class="text-primary text-opacity-75 display-5">2020</h2>
                                    </div>
                                    <!--Divider line-->
                                    <div
                                        class="swiper-divider-line bg-primary bg-opacity-75 position-relative w-100 my-4">
                                    </div>
                                    <!--Text-->
                                    <div class="pe-7 pt-3 pe-lg-7">
                                        <h5>Finished 5000 Sales</h5>
                                        <p>Lorem ipsum is text commonly used in the graphic, print, and publishing
                                            industries for previewing layouts and visual mockups.</p>
                                    </div>
                                </div>
                            </div>
                            <!--Slide-->
                            <div class="swiper-slide">
                                <div>
                                    <div class="pe-5 pb-3 pe-lg-7">
                                        <!--Time-->
                                        <p class="text-muted">Junho</p>
                                        <!--Year-->
                                        <h2 class="text-primary text-opacity-75 display-5">2018</h2>
                                    </div>
                                    <!--Divider line-->
                                    <div
                                        class="swiper-divider-line bg-primary bg-opacity-50 position-relative w-100 my-4">
                                    </div>
                                    <!--Text-->
                                    <div class="pe-7 pt-3 pe-lg-7">
                                        <h5>Convert into Bootstrap 4</h5>
                                        <p>Lorem ipsum is text commonly used in the graphic, print, and publishing
                                            industries for previewing layouts and visual mockups.</p>
                                    </div>
                                </div>
                            </div>
                            <!--Slide-->
                            <div class="swiper-slide">
                                <div>
                                    <div class="pe-5 pb-3 pe-lg-7">
                                        <!--Time-->
                                        <p class="text-muted">Julho</p>
                                        <!--Year-->
                                        <h2 class="text-primary text-opacity-50 display-5">2016</h2>
                                    </div>
                                    <!--Divider line-->
                                    <div
                                        class="swiper-divider-line bg-primary bg-opacity-25 position-relative w-100 my-4">
                                    </div>
                                    <!--Text-->
                                    <div class="pe-7 pt-3 pe-lg-7">
                                        <h5>Finished 2000 Sales</h5>
                                        <p>Lorem ipsum is text commonly used in the graphic, print, and publishing
                                            industries for previewing layouts and visual mockups.</p>
                                    </div>
                                </div>
                            </div>
                            <!--Slide-->
                            <div class="swiper-slide">
                                <div>
                                    <div class="pe-5 pb-3 pe-lg-7">
                                        <!--Time-->
                                        <p class="text-muted">Agosto</p>
                                        <!--Year-->
                                        <h2 class="text-primary text-opacity-25 display-5">2014</h2>
                                    </div>
                                    <!--Divider line-->
                                    <div class="swiper-divider-line position-relative w-100 my-4"></div>
                                    <!--Text-->
                                    <div class="pe-7 pt-3 pe-lg-7">
                                        <h5>Launched Assan Theme</h5>
                                        <p>Lorem ipsum is text commonly used in the graphic, print, and publishing
                                            industries for previewing layouts and visual mockups.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="position-relative">
                <div class="container py-9 py-lg-11">
                    <div class="row py-5 position-relative align-items-center justify-content-between z-index-1">

                        <!--Countup Numbers col-->
                        <div class="col-md-4 pe-md-7 mb-6 mb-md-0">
                            <h2 class="display-4">
                                <span data-countup='{"startVal": 0,"suffix":"+", "duration": "5"}' data-to="50"
                                    data-aos="" data-aos-id="countup:in">0</span>
                            </h2>
                            <p class="mb-0 lead"><strong>Regiões Atendidas</strong> blandit nunc risus nulla ante
                                maecenas suspendisse in penatibus rutrum ultrices varius eget turpis urna.</p>
                        </div>

                        <div class="col-md-4 mb-6 mb-md-0">
                            <div class="position-relative">
                                <img src="/img/backgrounds/back-01.jpg" class="rounded-4 shadow-xl img-fluid">
                                <div class="position-absolute start-0 top-0 w-100 h-100 d-flex flex-center">
                                    <!--play button-->
                                    <a href="https://vimeo.com/353105087" data-glightbox data-gallery="gallery07"
                                        class="d-flex width-10x hover-lift hover-shadow-xl height-10x btn btn-outline-white btn-circle-ripple mx-auto p-0 rounded-circle align-items-center justify-content-center fs-1">
                                        <i class="bx bx-play"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!--Countup Numbers col-->
                        <div class="col-md-4 ps-md-7">
                            <h2 class="display-4">
                                <span data-countup='{"startVal": 0,"suffix":"+", "duration": "5"}' data-to="500"
                                    data-aos="" data-aos-id="countup:in">0</span>
                            </h2>
                            <p class="mb-0 lead"><strong>Clientes Satisfeitos</strong> blandit nunc risus nulla ante
                                maecenas suspendisse in penatibus rutrum ultrices varius eget turpis urna.</p>
                        </div>
                    </div>
                </div>
            </section>

            <section class="bg-light position-relative">
                <!--Divider-->
            
                </svg>
                <div class="container py-9 py-lg-11 position-relative z-index-1">
                    <div class="row pb-5 align-items-start">
                        <div class="col-lg-5 mb-7 mb-lg-0" data-aos="fade-down" data-aos-delay="100">
                            <h6 class="mb-4 text-muted">Certificados</h6>
                            <h2 class="display-4">Lorem ipsum dolor sit amet consectetur elit.</h2>
                        </div>
                        <div class="col-lg-7 col-xl-6 ms-xl-auto" data-aos="fade-up" data-aos-delay="150">
                            <p class="mb-5">
                                Certificada em três rígidas normas: <strong>NBR ISO 9001:2015</strong>, <strong>ISO 14001:2015</strong> e <strong>ISO 45001:2018</strong>, garantimos contratos seguros para clientes e partes interessadas. Com padrões controlados e sustentáveis, convergentes com melhores práticas globais, somos uma das empresas brasileiras de engenharia mais competitiva do mercado.
                            </p>
                            <a href="/appointments" class="link-hover-underline h6 pb-1 text-muted">Ver mais documentos
                                <i class="bx bx-right-arrow-alt fs-5 align-middle lh-1"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </section>

        </main>
   
        <%- include('./partials/footer.html'); %>
        <script src="/js/swiper-bundle.min.js"></script>
        <script>
            // init Swiper:
            const swiper = new Swiper('.swiper-history', {
                slidesPerView: 1,
                spaceBetween: 0,
                autoHeight: true,
                breakpoints: {
                    // when window width is >= 480px
                    768: {
                        slidesPerView: 2,
                        spaceBetween: 0
                    },
                    // when window width is >= 640px
                    1024: {
                        slidesPerView: 3,
                    }
                }
            });

        </script>
    </body>
</html>